<link rel="stylesheet" type="text/css" href="__Flow__/workflow-common.css"/>
<link rel="stylesheet" type="text/css" href="__Flow__/workflow.3.0.css"/>
 <body  style="height: 100%; overflow: hidden;margin: 0px; padding: 0px;"> 
  <div class="panel layout-panel panel-west split-west" style="left: 0px; width:145px; cursor: default;">
   <div class="panel-body"> 
     <div class="panel" style="width: 140px;">
      <div class="panel-header">功能栏</div>
	  <div class="panel-body" style='text-align:center'>
		 欢迎使用流程设计器~<br/><br/>
		  <button class="btn btn-info" type="button" id="wfSave">保存设计</button><br/><br/>
		  <button class="btn btn-info" type="button" id="wfAdd">新增步骤</button><br/><br/>
		  <button class="btn btn-info" type="button" id="wfCheck">逻辑检查</button><br/><br/>
		  <button class="btn btn-info" type="button" id="wfCleam">清空步骤</button><br/><br/>
		  <button class="btn btn-info" type="button" id="wfHelp">设计帮助</button><br/><br/>
		  <button class="btn btn-info" type="button" id="wfRefresh">刷新设计</button><br/><br/>
      </div></div> 
   </div>
  </div> 
  <div class="panel layout-panel split-center" style="left:150px;  width:calc(100% - 645px); cursor: default;" > 
	<div  class="panel-body">
     <div class="panel" >
      <div class="panel-header">流程设计栏</div>
	  <div class="panel-body" style="width:100%; height: 800px;" id="flowdesign_canvas"></div> 
     </div></div>
  </div> 
  <div class="panel layout-panel panel-west split-east split-west" style="left: calc(100% - 500px);  width:500px; cursor: default;">
    <div  class="panel-body"> 
     <div class="panel" >
      <div class="panel-header">属性控制栏</div>
	  <div class="panel-body" style='height: 800px;'>
		<iframe src="{$url['welcome']}" id="iframepage" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onLoad="Tpflow.SetHeight()"></iframe>
	  </div></div> 
   </div>
  </div> 
 </body>
</html>
<script type="text/javascript" src="__Flow__/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__Flow__/jquery-ui-1.9.2-min.js?" ></script>
<script type="text/javascript" src="__Flow__/jsPlumb-1.3.16-all-min.js"></script>
<script type="text/javascript" src="__Flow__/workflow.4.0.js" ></script>
<script type="text/javascript" src="__Flow__/lib/layer/2.4/layer.js" ></script>
<script type="text/javascript" src="__Flow__/workflow-common.3.0.js" ></script>

<script type="text/javascript">
var the_flow_id ='{$one.id}';
$(function(){
	Tpflow.Init($('#flowdesign_canvas'),{$process_data|raw});
	console.log('page no load star fun ~');
	
		
	$("#wfSave").bind('click',function(){
		   try{
              var aProcessData = {};
              $("#wf_process_info input[type=hidden]").each(function(i){
                  var processVal = $(this).val().split(",");
                  if(processVal.length==2)
                  {
                    if(!aProcessData[processVal[0]])
                    {
                        aProcessData[processVal[0]] = {"top":0,"left":0,"process_to":[]};
                    }
                    aProcessData[processVal[0]]["process_to"].push(processVal[1]);
                  }
              })
              _canvas.find("div.process-step").each(function(i){ //生成Json字符串，发送到服务器解析
                      if($(this).attr('id')){
                          var pId = $(this).attr('process_id');
                          var pLeft = parseInt($(this).css('left'));
                          var pTop = parseInt($(this).css('top'));
                         if(!aProcessData[pId])
                          {
                              aProcessData[pId] = {"top":0,"left":0,"process_to":[]};
                          }
                          aProcessData[pId]["top"] =pTop;
                          aProcessData[pId]["left"] =pLeft;
                      }
                  })
            console.log(JSON.stringify(aProcessData));
          }catch(e){
              return '';
          }
	});

});
</script>