<html>
<head>
<title>Tpflow V4.0 管理列表</title>
</head>
<link rel="stylesheet" type="text/css" href="__Flow__/workflow-common.css"/>
<body>
<div class="page-container">
<div style='float: left;width:6%'>
	<a onclick="layer_open('添加委托授权','{:url($int_url.'/wf/entrust')}','550','400')" class="button ">委托授权</a> <hr/>
	<a onclick="location.reload();" class="button ">刷新页面</a>

</div>
<div style='float: left;width:94%'>
<table class="table" >
    <tr>
        <th>ID</th>
        <th>流程名称</th>
        <th>流程类型</th>
        <th>添加时间</th>
		<th>状态</th>
        <th>操作</th>
    </tr>
</table>
</div>
</div>
<script type="text/javascript" src="__Flow__/jquery-1.7.2.min.js" ></script>
<script type="text/javascript" src="__Flow__/lib/layer/2.4/layer.js" ></script>
<script type="text/javascript" src="__Flow__/workflow-common.3.0.js" ></script>
</body>
</html>