<html>
<head>
<title>Tpflow V4.0 管理列表</title>
</head>
<link rel="stylesheet" type="text/css" href="__Flow__/workflow-common.css"/>
<body>
<div class="page-container">
<div style='float: left;width:10%'>
	<a onclick="layer_open('添加工作流','{:url($int_url.'/wf/wfadd')}','550','400')" class="button ">添加</a> <a onclick="location.reload();" class="button ">刷新</a><hr/>
	<b style='font-size: 16px;'>工作流类别</b>
	<ul id="art">
		{volist name='type' id='vo'}
			<li>┣{$key}-{$vo}</li>
		{/volist}
	</ul>
</div>
<div style='float: left;width:90%'>
<table class="table" >
    <tr>
        <th>ID</th>
        <th>流程名称</th>
        <th>流程类型</th>
        <th>添加时间</th>
		<th>状态</th>
        <th>操作</th>
    </tr>
    {volist name="list" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td><span title="{$vo.flow_desc}">{$vo.flow_name}</span></td>
        <td>{$type[$vo.type] ?? ''}{$vo.type}</td>
        <td>{:date('Y/m/d H:i',$vo['add_time'])}</td>
		 <td>
		 {if condition='$vo.status == 0'}正常{else/}禁用{/if}
		 </td>
        <td>
		{if condition='$vo.edit ==""'}
	   <a class='button' onclick="layer_open('修改','{:url($int_url.'/wf/wfadd',['id'=>$vo.id])}','550','400')"> 修改</a>
       <a class='button' onclick="layer_open('流程设计','{:url($int_url.'/wf/wfdesc',['flow_id'=>$vo.id])}')"> 设计流程</a>
		{else/}
		<a class='btn  radius size-S'> 运行中....</a>
	   {/if}
	   {if condition='$vo.status == 0'}
		   <a class='button' href="{:url($int_url.'/wf/wfchange',['id'=>$vo['id'],'status'=>1])}"> 禁用</a>
			{else/}
		 <a class='button' href="{:url($int_url.'/wf/wfchange',['id'=>$vo['id'],'status'=>0])}" > 启用</a>
	   {/if}
	   </td>
    </tr>
    {/volist}
</table>
</div>
</div>
<script type="text/javascript" src="__Flow__/jquery-1.7.2.min.js" ></script>
<script type="text/javascript" src="__Flow__/lib/layer/2.4/layer.js" ></script>
<script type="text/javascript" src="__Flow__/workflow-common.3.0.js" ></script>
</body>
</html>